include:
  - project: plt/gitlab-pipeline-templates
    file: jobs/publish/publish-node-mend.gitlab-ci.yml
  - project: 'plt/gitlab-pipeline-templates'
    file: jobs/publish/blackduck-scan.gitlab-ci.yml

variables:
  # BlackDuck / Mend configuration
  MEND_PRODUCT_NAME: "socure-external"
  BLACKDUCK_SCAN: "true"
  BLACKDUCK_STRICT_SCAN: "false"
  # Disable accuracy enforcement to avoid FAILURE_ACCURACY_NOT_MET in Detect 11.x
  DETECT_ACCURACY_REQUIRED: "NONE"

default:
  image: registry.us-east-1.build.socure.link/platform/gitlab-runner-nodejs:18.7
  cache: &global_cache
    key:
      files:
        - yarn.lock
    paths:
      - .yarn-cache/
      - node_modules
    policy: pull

stages:
  - build
  - lint
  - scan
  - deploy

build:
  stage: build
  cache:
    # inherit all global cache settings
    <<: *global_cache
    # override the policy
    policy: pull-push
  script:
    - "yarn config set cache-folder .yarn-cache"
    - "yarn install --frozen-lockfile"
    - "yarn"
    - "mkdir -p dist ; npm pack --pack-destination dist"
  artifacts:
    paths:
      - dist/*.tgz
    when: on_success

mend-scan-fips:
  extends: .mend-nodejs
  stage: scan
  dependencies:
    - build
  variables:
    MEND_PRODUCT_NAME: "socure-external"

blackduck_security_scan_execution:
  stage: scan

lint:
  stage: lint
  dependencies:
    - build
  script:
    - "yarn config set cache-folder .yarn-cache"
    - "yarn install --frozen-lockfile"
    - "yarn lint"

# Publishes the wrapper to NPM
#
# Uses the version set in the package.json to publish to NPM.
# This should more or less enforce a good practice of tagging
# the repo for released versions
#
# This process is only run when the repo is tagged.
deploy-npm:
  stage: deploy
  dependencies:
    - build
  script:
    - "yarn config set cache-folder .yarn-cache"
    - "yarn install --frozen-lockfile"
    - "yarn"
    - |
      echo "//registry.npmjs.org/:_authToken=$NPM_PUBLISH_TOKEN" > .npmrc

      npm publish --access public

  only:
    refs:
      - tags
